---
import { Icon } from 'astro-icon';

import { getHomePermalink } from '~/utils/permalinks';
import Logo from '~/components/atoms/Logo.astro';

import { dataSocialLinks } from '~/data';

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<footer id="footer" class="border-t border-gray-200 dark:border-slate-800">
	<div class="mx-auto max-w-6xl px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 py-8 sm:gap-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a
						class="inline-block text-xl font-medium opacity-50 grayscale transition hover:opacity-100"
						href={getHomePermalink()}
					>
						<Logo />
					</a>
				</div>
				<div class="text-sm text-gray-600">
					<a class="sitemap-link" href="/">Terms</a>
					<span> ·{' '}</span>
					<a class="sitemap-link" href="/">Privacy Policy</a>
				</div>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="sitemap-title">Product</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="sitemap-link" href="/">Features</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Security</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Team</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Enterprise</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Customer stories</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Pricing</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="sitemap-title">Platform</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="sitemap-link" href="/">Developer API</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Partners</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Atom</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Electron</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">GitHub Desktop</a>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="sitemap-title">Support</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="sitemap-link" href="/">Docs</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Community Forum</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Professional Services</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Skills</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Status</a>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="sitemap-title">Company</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="sitemap-link" href="/"> About</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/"> Blog</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/"> Careers</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/">Press</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/"> Inclusion</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/"> Social Impact</a>
					</li>
					<li class="mb-2">
						<a class="sitemap-link" href="/"> Shop</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="py-6 md:flex md:items-center md:justify-between md:py-8">
			<ul class="mb-4 -ml-2 flex flex-wrap md:order-1 md:ml-4 md:mb-0">
				{
					dataSocialLinks.map((socialLink) => {
						return (
							<li>
								<a
									class={`btn-icon-brand hover:text-${socialLink.slug} dark:hover:text-${socialLink.slug}`}
									aria-label={socialLink.label}
									href={socialLink.href}
									target="_blank"
									rel="noopener noreferrer"
								>
									<Icon name={socialLink.iconName} class="h-5 w-5" />
								</a>
							</li>
						);
					})
				}
			</ul>

			<div class="mr-4 text-sm text-gray-700 dark:text-slate-400">
				<span>© {currentYear}</span>
				<span class="font-medium">M Haidar Hanif</span>
				<span> 🧊 All rights reserved.</span>
			</div>
		</div>
	</div>
</footer>
